DATABASE_URL=
AUDIO_STORAGE_PATH=./media/voice_notes

VOICE_EMOTION_ENCODER_PATH=./ml_models/voice_emotion/encoder
VOICE_EMOTION_CLASSIFIER_PATH=./ml_models/voice_emotion/classifier

STT_MODEL_NAME=./ml_models/stt/whisper-large-v3

TEXT_EMOTION_MODEL_PATH=./ml_models/text_emotion/emotion_xlm_roberta_final

JWT_SECRET_KEY=

LLM_API_KEY=
LLM_BASE_URL=https://api.gapgpt.app/v1
LLM_CHAT_MODEL=gpt-4o-mini